@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

* {
  --background-color: #add0ec;
  --main-color: #082f49;
  --accent-color: #0369a1;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: blue;
}